html, body, #mainContainer {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#topPane {
    height: 38px;
}
    #appTitle {
        float: left;
        padding: 0px 0px 0px 6px;
    }

    #topMenu {
        float:right;
        padding: 0px 6px 0px 0px;
    }

    .menuIcon {
        background-image: url("../Images/menu.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
    }

#sidePane {
    width: 280px;
    padding: 0px;
}
    
#sidePane.collapsed {
    width: 0px;
    padding: 0px;
    visibility:hidden;
}

    #sideTabs {
        width: 100%;
        height: 100%;
    }

    #sideTabs .dijitTabListContainer-top,
    #sideTabs .dijitTabListWrapper,
    #sideTabs .dijitTabContainerTop-tabs  {
        height: 36px !important;
    }

    #sideTabs .dijitTabContent {
        width: 90px;
    }

    #sideTabs .dijitTab {
        height: 100%;
    }

#mapDiv {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#basemapToggle {
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 50;
}

#homeBtn {
    position: absolute;
    top: 93px;
    right: 20px;
    z-index: 50;
}

#locateBtn {
    position:absolute;
    top: 133px;
    right: 20px;
    z-index: 50;
}