/* Color Scheme
    #161616 Main background
    #F4F4F4 Foreground color
    #484848 Button background
    #646464 Button hover
*/

body.nihilo {
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px;
    background-color: #161616;
    color: #F4F4F4;
}

.nihilo .dijitContentPane {
    background-color: #161616;
    color: #F4F4F4;
}

.nihilo #appTitle {
    font-size: 15px;
    font-weight: bold;
    line-height: 38px;
    vertical-align: middle;
}

/*  Buttons  */
.nihilo .dijitButtonNode {
  background: none no-repeat #484848;
  border: 1px solid #F4F4F4;
  padding: 2px 2px 2px;
  border-radius: 0px;
  width: 28px;
  height: 28px;
}

.nihilo .esriSimpleSlider {
    background-color: #484848;
    border: 1px solid #F4F4F4;
    border-radius: 0px;
    color: #F4F4F4;
}

    .nihilo .esriSimpleSlider div {
        font-family: inherit;
        font-size: 22px;
        height: 28px;
        line-height: 23px;
        width: 28px;
        padding: 2px 2px 2px;
    }

    .nihilo .esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
        border-bottom: 1px solid #F4F4F4;
        border-radius: 0px 0px 0 0;
    }

    .nihilo .esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
        border-radius: 0 0 0px 0px;
    }

.nihilo .HomeButton .home,
.nihilo .LocateButton .zoomLocateButton {
    background-color: #484848;
    border: 1px solid #F4F4F4;
    padding: 2px 2px 2px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
}

.nihilo .BasemapToggle .toggleButton {
    background: none repeat scroll 0 0 #484848;
    border: 1px solid #F4F4F4;
    border-radius: 0px;
    padding: 2px;
}

    .nihilo .BasemapToggle .basemapImage {
        height: 28px;
        overflow: hidden;
        width: 75px;
    }

    .nihilo .BasemapToggle .basemapImage .basemapBG {
        display: none;
    }

    .BasemapToggle .basemapTitle {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.0);
        border-radius: 0 0 0px 0px;
        color: #F4F4F4;
        font-size: 12px;
        font-weight: bold;
        height: 100%;
        line-height: 28px;
        padding: 0 0 0 0;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

/*  Button Hover  */
.nihilo .dijitButtonHover .dijitButtonNode,
.nihilo .dijitButtonNodeHover,
.nihilo .dijitToggleButtonHover .dijitButtonNode,
.nihilo .dijitDropDownButtonHover .dijitButtonNode,
.nihilo .dijitButtonContentsHover,
.nihilo .dijitDownArrowButtonHover,
.nihilo .dijitUpArrowButtonHover {
    background: none repeat-x scroll left top #F4F4F4;
    color: inherit;
}

.nihilo .BasemapToggle .toggleButton:hover,
.esriSimpleSliderDecrementButton:hover,
.esriSimpleSliderIncrementButton:hover,
.nihilo .HomeButton .home:hover,
.nihilo .LocateButton .zoomLocateButton:hover {
    background-color: #646464;
}

/*  Tabs  */
.nihilo .dijitTab {
    background: none repeat-x scroll 0 -350px #484848;
    border-color: #F4F4F4 #F4F4F4 #F4F4F4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #F4F4F4;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    vertical-align: middle;
    text-align: center;
    margin: 0 0px;
    padding: 0px 0px 0px 0px;
}

.nihilo .dijitTabChecked {
    color: #F4F4F4 !important;
    background: none repeat-x scroll 0 -350px #646464;
}

.nihilo .dijitTabContainerTop-tabs .dijitTab {
    border-radius: 0px 0px 0 0;
}

.nihilo .dijitTabContainerTop-spacer {
    background: none repeat scroll 0 0 #F4F4F4;
    margin-top: 0px;
    border: none;
    height: 2px;
}

/*  TOC  */
.nihilo .agsjsTOCRootLayer {
    line-height: 30px;
}

.nihilo .agsjsTOCContent .dijitCheckBox, .nihilo .dijitCheckBoxIcon {
    background-image: url(../Images/unchecked.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    height: 20px;
    margin: 0;
    padding: 0 4px 0 0;
    width: 20px;
}

.nihilo .agsjsTOCContent .dijitCheckBoxChecked {
    background-image: url(../Images/checked.png);
    background-position: 0 center;
}

.nihilo .agsjsTOCIcon {
}

.nihilo .dijitTreeExpandoClosed {
  background: url("../Images/plus.png") no-repeat;
  background-position: 0 center;
  width: 16px;
  height: 16px;
  margin: 0 6px 6px 7px;
}

.nihilo .dijitTreeExpandoOpened {
  background: url("../Images/minus.png") no-repeat;
  background-position: 0 center;
  width: 16px;
  height: 16px;
  margin: 0 6px 6px 7px;
}

.nihilo .agsjsTOCRootLayerLabel {
  font-size: 12px;
  font-weight: bold;
  margin-left: 4px;
}