<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://server.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://www.arcgis.com"
                   matchAll="true"/>
        <serverUrl url="http://static.arcgis.com"
                   matchAll="true"/>
        <serverUrl url="http://mesonet.agron.iastate.edu"
                   matchAll="true"/>
        <serverUrl url="http://services.mema.state.md.us"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
